In [8]:
import pandas as pd
import re
import csv
import os
import sys
from collections import Counter
import collections
import numpy as np

This script calculates the symmetric SNP differences between two groups of genomes. The output consists of the minimum, mean and maximum as well as a dataframe of all pairwise symmetric SNP differences. The input file "annotated_variants.tab" can be generated using the perSVade pipeline
The script can also compare two individual genomes or 1 genome vs a group of genomes

It is recommended that each "annotated_variants.tab" file is stored in a directory named after the genome

In [12]:
path1 = input("Provide the path to the first group of annotated variants:")
path2 = input("Provide the path to the second group of annotated variants:")

dir_list1 = os.listdir(path1)
dir_list2 = os.listdir(path2)

def import_command(dir_list, path):
    set_dict = {}
    for item in dir_list:
        if item in dir_list:
            try:
                cp = pd.read_csv(path + item + "/annotated_variants.tab", delimiter="\t")
                cp = cp[cp['is_snp'] == True]
                set_dict[item] = set(cp['#Uploaded_variation'])
            except Exception:
                pass
    return set_dict

set_dict1 = import_command(dir_list1, path1)
set_dict2 = import_command(dir_list2, path2)

dict1 = {}
for key1, value1 in set_dict1.items():
    dict2= {}
    for key2, value2 in set_dict2.items():
        dict2[key2] = len(value1.symmetric_difference(value2))
    dict1[key1] = dict2

df = pd.json_normalize([{'index': k, **v} for k, v in dict1.items()])
df = df.set_index('index')
print("The minimum symmetric SNP-difference is: " + str(df.min().min()))
print("The rounded mean symmetric SNP-difference is: " + str(round(df.mean().mean(), 0)))
print("The maximum symmetric SNP-difference is: " + str(df.max().max()))
display(df)

Provide the path to the first group of annotated variants: /media/davideisele/Windows/Users/q027de.I-MED/Desktop/BGI_RNA-seq/parapsilosis_genotyping/different_ref/perSVade/annotate_small_vars/2/
Provide the path to the second group of annotated variants: /media/davideisele/Windows/Users/q027de.I-MED/Desktop/BGI_RNA-seq/parapsilosis_genotyping/different_ref/perSVade/annotate_small_vars/1/

The minimum symmetric SNP-difference is: 899
The rounded mean symmetric SNP-difference is: 1041.0
The maximum symmetric SNP-difference is: 1283

,NG-A4501_CP19_libLAN2875,NG-A4501_CP1_libLAN2859,NG-A4501_CP20_libLAN2876,NG-A4501_CP22_libLAN2878,NG-A4501_CP63_libLAN2916
index,,,,,
SRR28395726,1055,1057,1040,972,1010
SRR28395727,1085,1075,1066,996,1028
SRR28395737,1028,1028,1013,949,981
SRR28395738,976,978,973,899,931
SRR28395739,1071,1067,1058,988,1018
SRR28395740,1073,1075,1058,1000,1024
SRR28395744,1095,1093,1082,1012,1034
SRR28395745,1279,1283,1266,1200,1218
SRR28395746,1038,1040,1023,959,981
SRR28395747,1064,1068,1053,993,1009
SRR28395748,1044,1040,1031,959,993
SRR28395749,1032,1040,1021,961,991
SRR28395762,1082,1084,1067,1005,1019
SRR28395763,1047,1055,1036,980,1008